<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyg.batch.mysql.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zyg.batch.mysql.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, age, email
  </sql>

  <select id="selectByBatchPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user ORDER BY id ASC LIMIT #{_skiprows}, #{_pagesize}
  </select>

  <select id="selectByAgeLeft" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user where age &gt;= #{ageLeft}
    ORDER BY id ASC LIMIT #{_skiprows}, #{_pagesize}
  </select>

  <select id="selectByAgeRange" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user where age &gt;= #{ageLeft} and age &lt;= #{ageRight}
    ORDER BY id ASC LIMIT #{_skiprows}, #{_pagesize}
  </select>

  <select id="selectByIdRange" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user where id &gt;= #{idLeft} and id &lt;= #{idRight}
    ORDER BY id ASC LIMIT #{_skiprows}, #{_pagesize}
  </select>

  <select id="selectSimple" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" /> from user where id &lt; 5
  </select>

  <select id="selectNested" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from user where id &lt; (select id from teacher where id &lt;= 5)
  </select>

  <select id="selectJoin" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    left join teacher on user.id = teacher.id
    where id &lt; (select id from user where id &lt;= 5)
  </select>

  <select id="selectJoinAlias" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user t1
    left join teacher t2 on t1.id = t2.id
    where t1.id &lt; (select id from user t3 where id &lt;= 5)
  </select>

  <select id="selectJoinAliasDual" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user t1
    left join teacher t2 on t1.id = t2.id
    where t1.id &lt; (select id from user t3 where id &lt;= (select 200 from dual))
  </select>

  <select id="selectJoinDualAlias" resultMap="BaseResultMap">
    select * from user left join (select 1 as id from dual) t2 on user.id = t2.id
  </select>

  <select id="selectTableIndexAndMultiTable" resultMap="BaseResultMap">
    select * from user force index (user_name_index) ,teacher
  </select>

  <select id="selectJoinAliasDualIndex" resultMap="BaseResultMap">
    select
      *
    from user t1
           left join attribute t2 on t1.id = t2.id
    where t1.id >= (select id from user t3 where id >= (select 200 from dual))
    group by t1.name ,t2.update_dt,t2.attribute_name
    having t1.name is not null
    order by t2.update_dt asc
  </select>


</mapper>
